
body {
    background-color: #E1E1E1;
}
h1 {
    color: #4F4F4F;
}

.addannonce{
    background-color: dimgrey;
    color: white;
    border-radius: 15px;
    width: 25px;
    height: 25px;
}

.column-block p {
    line-height: 1.5em;
    margin-bottom: 0;
    color: #ADADAD
}

.annonce {
    background-color: #F1F1F1; 
    padding: 20px;
}
.poste {
    font-weight: bold;
    color: #4F4F4F;
    line-height: 2em;
}

/* LABEL */
.label {
    border-radius: 15px;
    background: none;
    font-style: italic;
}

.photographie {
    color: dimgrey;
    border: 1px solid dimgrey;
}

.design {
    color: deeppink;
    border: 1px solid deeppink;
}

.webdesign {
    color: lightpink;
    border: 1px solid lightpink;
}

.animation {
    color: yellow;
    border: 1px solid yellow;
}